<!-- header -->

    <div class="header1">
        <i class="fa-solid fa-heart"></i>
        <a href="./view/login.html"><i class="fa-solid fa-user"></i></a>
         
    </div>

    <header class="header">
        <nav class="navbar"> 
            <img src= {{ asset('img/amesvoyageuses-logo-version-noir.png') }}  id="logo"alt="">
            <a href="index.html">Accueil</a>
            <a href="./view/vols.html">Vols</a>
            <a href="./view/hotel.html">Hotels</a>
            <a href="./view/car.html">Location de voiture</a>
        </nav>
        <div class='btn-toggle'>
        <i class="fa-solid fa-bars"></i>
         </div>
    </header>